<div class="box">
  <article class="media">
    <div class="media-content">
      <p>
        <strong><%= comment.name %>: </strong>
        <%= comment.comment %>
      </p>
    </div>
    <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "button is-danger", data: { confirm: "Are you sure?" } %>
  </article>
</div>
