<%= simple_form_for([@post, @post.comments.build]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%# name %>
  <div class="field">
    <div class="control">
      <%= f.input :name, input_html: { class: 'input'}, 
      wrapper: false, label_html: { class: 'label' } %>
    </div>
  </div>
  <%# comment %>
  <div class="field">
    <div class="control">
      <%= f.input :comment, input_html: { class: 'textarea' }, 
      wrapper: false, label_html: { class: 'label' } %>
    </div>
  </div>
  <%= f.button :submit, class: 'button is-primary' %>
<% end %>
