<% content_for :page_title, @post.title %>
<section class="section">
  <div class="container">
    <nav class="level">
      <%# Left side %>
      <div class="level-left">
        <p class="level-item">
          <strong>Actions</strong>
        </p>
      </div>
      <%# Right side %>
      <div class="level-right">
        <p class="level-item">
          <%= link_to "Edit", edit_post_path(@post), class: "button" %>
        </p>
        <p class="level-item">
          <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class: "button is-danger" %>
        </p>
      </div>
    </nav>
    <hr class="hr">
    <div class="content">
      <%= @post.content %>
    </div>
  </div>
</section>
<section class="section comments">
  <div class="container">
    <h2 class="subtitle is-5">
      <strong><%= @post.comments.count %></strong> comments
    </h2>
    <%= render @post.comments %>
    <div class="comment-form">
      <hr class="hr">
      <h3 class="subtitle is-3">Leave a reply</h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>
